.menu__link {
    color: black;
    font-size: 2rem;
    font-family: 'Indie Flower', cursive;;
    margin-right: 1.25rem;
    text-decoration: none;
    transition: 0.5s;
    
}

.menu__link:hover {
    background: #928f8f;
    border-radius: 3px;
    text-decoration: none;
    color: #D19734;;
    
}